html {
  background-color: #ffff93;
  color: #3040ff;
  font-family: "Consolas", monospace;
  font-size: 0.8em;
}

.center {
  width: 100%;
  text-align: center;
}

.main {
  width: 60%;
  display: inline-block;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 64px;
}

.page {
  background-color: #ff93ff;
  margin-bottom: 40px;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 32px;
}

p, ul {
  text-align: left;
}

a {
  text-decoration: none;
  color: #3300ff;
}

a:hover {
  color: #000033;
}
