html {
  background-color: #303030;
  color: white;
  font-family: "Arial", monospace;
}

hr {
  border-color: #707070;
}

h1 {
  text-align: center;
}

.reply {
  display: flex;
  margin: 2px;
  font-size: 0.8em;
}

.reply .body {
  background-color: #505050;
  width: fit-content;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 4px;
}

.center {
  width: 100%;
  text-align: center;
}

.reply .text {
  margin: 10px;
  margin-left: 24px;
}

.new_reply {
  display: inline-block;
  width: 40%;
  text-align: center;
}

.new_reply .input {
  width: 100%;
  margin-bottom: 9px;
}

.new_reply input[type=submit] {
  float: right;
}
