{% extends "base.html" %}
{% from "reply.html" import show_reply %}

{% block title %} Random {% endblock %}

{% block content %}
  <div class="center">
    <h2>[Make a New Post]</h2>
    <div class="new_reply">
      <form method="post">
        <table>
          <tr>
            <td><b>Name</b></td>
            <td><input class="input" type="text" placeholder="Anonymous" name="name"></td>
          <tr>
          <tr>
            <td><b>Subject</b></td>
            <td><input class="input" type="text" name="subject"></td>
          <tr>
          <tr>
            <td><b>Comment</b></td>
            <td><textarea class="input" name="text"></textarea></td>
          </tr>
        </table>
        <input type="submit" value="Post">
      </form>
    </div>
  </div>
  <hr>
  {% for thread in threads %}
    {%
      set replies=db.execute(
        "SELECT * FROM replies"
        " WHERE thread_id=?"
        " ORDER BY id ASC",
        (thread["id"],)
      ).fetchall()
    %}
    {{ show_reply(replies[0], "thread", thread["subject"]) }}
    {% if replies|length > 4 %}
      {{ (replies|length - 4) }}
      repl{{ "ies" if replies|length > 4 else "y" }} omitted.
      <a href="{{ url_for('board.thread', reply_id=replies[0]['id']) }}">Click here</a> to view.
      {% for reply in replies[-3:] %}
        {{ show_reply(reply) }}
      {% endfor %}
    {% else %}
      {% for reply in replies[1:] %}
        {{ show_reply(reply) }}
      {% endfor %}
    {% endif %}
    <hr>
  {% endfor %}
{% endblock %}
