<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HITORICHAN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <h1>HITORICHAN</h1>
    <hr>
    <div class="center">
      <div class="main">
        <div class="page">
          <h2>Latest posts</h2>
          <p>
          {% for post in latest_posts %}
            <a href="{{ url_for('board.thread', reply_id=post["id"]) }}">
              &gt;&gt;/1/{{ post["id"] }}:
              {{ post["text"][:32] }}
            </a>
            <br>
          {% endfor %}
          </p>
        </div>
        <div class="page">
          <h2>Change Log</h2>
          <p>
            <b>24.05.2023</b><br>
            test chan site to learn flask.<br>
            stuff i might add later<br>
            <ul>
              <li>better features</li>
              <li>image uploading stuff</li>
              <li>better ui</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
