{% macro format(text) %}
  {% for line in text.splitlines() %} 
    {{ line }}
    <br>
  {% endfor %}
{% endmacro %}

{% macro show_reply(reply, type="reply", subject="") %}
  <div class="{{ type }}">
    {% if type == "reply" %}
      >>
    {% endif %}
    <div class="body">
      <div>
        <span style="color: #ff00ff;"><b>{{ subject }}</b></span>
        <b>{{ reply["name"] }}</b>
        {{ reply["created"].strftime("%d/%m/%y (%a) %H:%M:%S") }} No.{{ reply["id"] }}
      </div>
      <div class="text">
        {{ format(reply["text"]) }}
      </div>
    </div>
  </div>
{% endmacro %}
