{% macro f_greentext(line) %}
  {% if line.startswith(">") %}
    <span style="color: #bbffbb;">{{ line }}</span>
  {% else %}
    {{ line }}
  {% endif %}
{% endmacro %}

{% macro f_quote(line) %}
  {% if line.startswith(">>") and line[2:-1].isdigit() %}
    <a href="/thread/{{ line[2:-1] }}">{{ line }}</a>
  {% else %}
    {{ f_greentext(line) }}
  {% endif %}
{% endmacro %}

{% macro f_newline(text) %}
  {% for line in text.split("\n") %} 
    {{ f_quote(line) }}
    <br>
  {% endfor %}
{% endmacro %}

{% macro format(text) %}
  {{ f_newline(text) }}
{% endmacro %}

{% macro show_reply(reply, type="reply", subject="") %}
  <div class="{{ type }}">
    {% if type == "reply" %}
      >>
    {% endif %}
    <div class="body">
      <div>
        <span style="color: #ff00ff;"><b>{{ subject }}</b></span>
        <b>{{ reply["name"] }}</b>
        {{ reply["created"].strftime("%d/%m/%y (%a) %H:%M:%S") }}
        <a class="reply_id" href="/thread/{{ reply["id"] }}">No.{{ reply["id"] }}</a>
      </div>
      <div class="text">
        {{ format(reply["text"]) }}
      </div>
    </div>
  </div>
{% endmacro %}
